$small-width: 576px
$medium-width: 768px
$large-width: 992px
$x-large-width: 1200px
$xx-large-width: 1400px
$xxx-large-width: 1600px

$green: #58CC75
$yellow: #F0AC00
$red: #F56363
$dark-4: #3A4753
$light-1: #A7B6CB
$light-3: #EDF1F5
$primary-1: #486BE4

@mixin x-small 
  @media (max-width: #{$small-width - 1px}) 
    @content

@mixin small 
  @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) 
    @content

@mixin medium 
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) 
    @content

@mixin large 
  @media (min-width: #{$large-width}) and (max-width: #{$x-large-width - 1px}) 
    @content

@mixin x-large 
  @media (min-width: #{$x-large-width}) and (max-width: #{$xx-large-width - 1px}) 
    @content

@mixin xx-large 
  @media (min-width: #{$xx-large-width}) and (max-width: #{$xxx-large-width - 1px}) 
    @content

@mixin xxx-large 
  @media (min-width: #{$xxx-large-width}) 
    @content

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1
    